/* локальные шрифты подключаются директивой font-face
их необходимо так же скачать в папку fonts */
/* правильно прописываем пути */

/* @font-face {
    font-family: 'Roboto Thin Italic';
    src: url('../fonts/Roboto-ThinItalic.eot');
    src: url('Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-ThinItalic.woff') format('woff'),
        url('../fonts/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

.promo {
    background: url('../img/bg/main_bg.jpg') center center/cover no-repeat;
    min-height: 802px;
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding: 38px 0;
}

.logo {
    display: block;
}

.logo .logo-img {
    display: block;
    margin: 0 auto;
}

.logo .logo-text {
    text-align: center;
    margin-top: 15px;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
}

h1 {
    margin-top: 53px;
}

h2.title {
    margin-top: 20px;
}

.title {
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    text-transform: uppercase;
    color: #F9BF3B;
}

.promo-text span {
    font-weight: 700;
    font-size: 21px;
    color: #F9BF3B;
}

.title-big {
    text-align: center;
    margin-top: 20px;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promo-text {
    text-align: center;
    margin-top: 23px;
    padding: 0 13px;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    color: #FFFFFF;
}

.promo-btn,
.gifts-btn {
    display: block;
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 72px;
    padding: 24px 15px;
    border: none;
    width: 313px;
    height: 72px;
    left: 805px;
    top: 551px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    font-size: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
}

.more {
    margin: 0 auto;

}

.more .more-text {
    margin-top: 70px;
    text-align: center;
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
}

.more .more-img {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
}

.waiting {
    min-height: 607px;
    background: #EFEFEF;
}

.waiting .container {
    padding: 88px 0;
}

.waiting-title,
.finish-header {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    color: #252525;
}

.divider {
    margin: 18px auto;
    width: 220px;
    height: 7px;
    background: #F9BF3B;
}

.waiting-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    text-align: center;
    color: #4A4A4A;
}

.waiting-wrapper {
    display: flex;
    margin-top: 45px;
    justify-content: space-between;
}

.waiting-block {
    text-align: center;
    width: 342px;
}

.waiting-block .waiting-text {
    margin-top: 26px;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #4A4A4A;
}

.optimization {
    position: relative;
    min-height: 550px;
    padding: 47px 0px;
}

.optimization .optimization-header {
    margin-left: 391px;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #299CBD;
}

.optimization .optimization-text {
    width: 750px;
    margin-left: 391px;
    margin-top: 25px;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;
}

.optimization .optimization-text span {
    font-weight: 700;
}

.woman-img {
    position: absolute;
    left: -240px;
    top: 48px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    background: url('/src/img/bg/finish_bg.jpg') center center/cover no-repeat;
    padding: 86px 0 68px;
}

.finish-header {
    color: #EFEFEF;
}

.finish-wrapper {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}

.finish-block {
    text-align: center;
    width: 208px;
}

.finish-block .finish-text {
    margin-top: 25px;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #EFEFEF;
}

.finish-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 100%;
    width: 118px;
    height: 118px;
    background: #B4E2FF;
}

.gifts {
    min-height: 631px;
    padding: 88px 0;
    background: #EFEFEF;
}

.gifts-text {
    text-align: center;
    margin-top: 45px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    color: #252525;
}

.gifts-img {
    display: block;
    margin: 0 auto;
}

.gifts-btn {
    margin-top: 45px;
}

.webinar {
    min-height: 512px;
    background: #FFFFFF;
    padding: 81px 0px 52px 0px;
}

.webinar-img {
    display: block;
    margin: 0 auto;
}

.webinar-text {
    margin-top: 36px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}

.webinar-time {
    margin-top: 30px;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #299CBD;
}

.webinar-warning {
    margin-top: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    color: #4A4A4A;
}

footer {
    min-height: 169px;
    background: #1A1A1A;
    padding: 57px 0px 69px;
}

.footer-wrapper a {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    text-decoration-line: underline;
    color: #888888;
}

.footer-link-wrapper {
    margin: 0 auto;
    text-align: center;
    color: #888888
}

.footer-wrapper .call {
    display: block;
    text-decoration: none;
}